<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="../home">
                <img src="../../../static/assets/logo/HomeDB-Blue.png" width="50" height="55" class="d-inline-block align-bottom">
                <span class="navbar-brand h1">HomeDB</span>
            </a>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-dark">Settings</button>
    </div>
</nav>


<style>
    .navbar {
        background-color: #596B8A;
    }

    .navbar-brand {
        font-size: 1.75rem;
    }
</style>