{% extends "../../base/index.html" %}

{% block title_content %}
VLAN
{% endblock %}

{% block header_content %}
VLAN
{% endblock %}

{% block create_link %}
{% url 'vlan.create' %}
{% endblock %}

{% block table_head %}
<tr>
    <th>VLAN ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Subnet</th>
</tr>
{% endblock %}

{% block table_body %}
{% for vlan in vlans %}
<tr>
    <td>{{ vlan.vlan_id }}</td>
    <td>{{ vlan.name }}</td>
    <td>{{ vlan.description|default:"N/A" }}</td>
    <td>{{ vlan.subnet }}</td>
    <td>
        <a href="{% url 'vlan.edit' vlan.vlan_id %}">Edit</a>
    </td>
    <td>
        <a href="{% url 'vlan.delete' vlan.vlan_id %}">Delete</a>
    </td>
</tr>
{% endfor %}
{% endblock %}