{% extends "../../base/index.html" %}

{% block title_content %}
WiFi
{% endblock %}

{% block header_content %}
WiFi
{% endblock %}

{% block create_link %}
{% url 'wifi.create' %}
{% endblock %}

{% block table_head %}
<tr>
    <th>SSID</th>
    <th>Password</th>
</tr>
{% endblock %}

{% block table_body %}
{% for wifi in wifis %}
<tr>
    <td>{{ wifi.ssid }}</td>
    <td>{{ wifi.password }}</td>
    <td>
        <a href="{% url 'wifi.edit' wifi.id %}">Edit</a>
    </td>
    <td>
        <a href="{% url 'wifi.delete' wifi.id %}">Delete</a>
    </td>
</tr>
{% endfor %}
{% endblock %}