{% extends "../../base/master.html" %}


{% block title %}
  WiFi List
{% endblock %}


{% block content %}

<a href="{% url 'wifi.create' %}">Create WIFI Network</a>

<h1>WIFI List</h1>

<table border="1">
    <thead>
        <tr>
            <th>SSID</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {% for wifi in wifis %}
            <tr>
                <td>{{ wifi.ssid }}</td>
                <td>{{ wifi.password }}</td>
                <td>
                    <a href="{% url 'wifi.edit' wifi.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'wifi.delete' wifi.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}