{% extends "../../base/master.html" %}


{% block title %}
  Device List
{% endblock %}


{% block content %}


<a href="{% url 'device.create' %}" class="btn btn-primary">Create Device</a>

<h1>Device List</h1>

<table class="table" border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>MAC Address</th>
            <th>IP Address</th>
            <th>VLAN</th>
            <th>Wifi Network</th>
            <th>Connection</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.name }}</td>
                <td>{{ device.mac_address }}</td>
                <td>{{ device.ip_address }}</td>
                <td>{{ device.vlan }}</td>
                <td>{{ device.wifi.ssid }}</td>
                <td>{{ device.connection_type }}</td>
                <td>
                    <a href="{% url 'device.edit' device.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'device.delete' device.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}