<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% include 'base/navbar.html' %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 px-0">
            {% include 'base/sidebar.html' %}
        </div>

        <div class="col-md-10">
            <div style="width: 100%;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>

</html>
