<div class="sidebar">
    <ul class="list-unstyled mt-4">
        <li><a href="{% url 'index' %}">LAN Home</a></li>
        <li><a href="{% url 'vlan.index' %}">VLAN</a></li>
        <li><a href="{% url 'wifi.index' %}">WiFi</a></li>
        <li><a href="{% url 'device.index' %}">Devices</a></li>
        <li><a href="{% url 'index' %}">MQTT Home</a></li>
    </ul>
</div>

<style>
    .sidebar {
        height:100%;
        width:250px;
        position: fixed;
        background-color:#374A67;
    }

    .sidebar a {
        padding:6px 8px 6px 16px;
        text-decoration: none;
        font-size:25px;
        color: #C6D9FC;
        display:block;
    }

    .sidebar a:hover{
        color:#f1f1f1;
    }
</style>